# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/
*.egg-info/

# DVC
# Ignore DVC data tracking files but keep core config
*.dvc
!.dvc/
!.dvc/config
!.dvcignore


# MLflow
mlruns/

# VS Code
.vscode/

# Data and model artifacts
data/
models/
