name: CI/CD Pipeline - House Price Predict

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Install dependencies
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

            - name: Configure DVC Remote
        env:
          DAGSHUB_USER: ${{ secrets.DAGSHUB_USER }}
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # add the DagsHub remote (create remote entry)
          dvc remote add origin https://dagshub.com/MeghaRathi-ee/house_price_predict.dvc || true

          # optionally set it as default
          dvc remote default origin || true

          # configure credentials locally for this runner
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user $DAGSHUB_USER
          dvc remote modify origin --local password $DAGSHUB_TOKEN

          # debug: show remote list
          dvc remote list


      - name: Configure DVC Remote
        env:
          DAGSHUB_USER: ${{ secrets.DAGSHUB_USER }}
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          dvc remote add origin https://dagshub.com/MeghaRathi-ee/house_price_predict.dvc || true
          dvc remote default origin || true
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user $DAGSHUB_USER
          dvc remote modify origin --local password $DAGSHUB_TOKEN
          dvc remote list

      - name: Pull Dataset from DVC
        run: |
          dvc pull


      # Pull Dataset from DVC
      - name: Pull Dataset from DVC
        run: |
          dvc pull

      # Run Training (with MLflow Tracking)
      - name: Train Model
        run: |
          python -m src.train_model

      # Build Docker Image
      - name: Build Docker Image
        run: |
          docker build -t house_price_app .

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Push Docker Image to Docker Hub
      - name: Push Docker Image
        run: |
          docker tag house_price_app ${{ secrets.DOCKER_USERNAME }}/house_price_app:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/house_price_app:latest
