name: CI/CD Pipeline - House Price Predict

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Verify Installed Packages
        run: |
          pip list


      - name: Run Training Pipeline
        run: |
          python -m src.train_model

      - name: Build Docker Image
        run: |
          docker build -t house_price_app .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker tag house_price_app ${{ secrets.DOCKER_USERNAME }}/house_price_app:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/house_price_app:latest
